nav {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 1rem;
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 1rem;
  z-index: 100;
}

nav div {
  flex: 1;
}

nav div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}
nav div h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

nav div a {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: 0 0.5rem;
}
nav div a:hover {
  color: #646cff;
}

nav .app__Navbar-menu {
  display: none;
  flex-direction: column;
  min-width: 30px;
  background-color: #1a1a1a;
  border-radius: 5px;
  height: 50%;
  justify-content: space-evenly;
  box-sizing: border-box;
}

nav .app__Navbar-menu .toggler-button {
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  width: 100%;
  border-radius: 5px;
  padding: 0 10px;
  height: 50%;
  justify-content: space-evenly;
}
nav .app__Navbar-menu .toggler-button span {
  border-bottom: 2px solid rgba(255, 255, 255, 0.87);
}

nav .app__Navbar-menu .toggler-button:hover span:nth-child(1) {
  transform: translateY(0) rotate(-45deg);
  border-bottom: 2px solid #646cff;
  transition: transform 0.5s ease 0.2s, border-bottom-color 0.5s ease 0.2s;
}

nav .app__Navbar-menu .toggler-button:hover span:nth-child(2) {
  transform: translateY(0) rotate(45deg);
  border-bottom: 2px solid #646cff;
  transition: transform 0.5s ease 0.2s, border-bottom-color 0.5s ease 0.2s;
}

nav .app__Navbar-menu .toggler-button:hover {
  cursor: pointer;
}

nav .app_Navbar-toggle {
  display: none;
  position: relative;
}

/* mobile view*/
@media (max-width: 888px) {
  nav div:nth-child(2),
  nav div:nth-child(3) {
    display: none;
  }

  nav .app__Navbar-menu {
    display: flex;
    max-width: 2.3rem;
  }

  nav .app__Navbar-menu .app__Navbar-menu-links-mobile {
    box-sizing: border-box;
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0.5em;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: 10;
    min-width: 70%;
    background-color: rgba(37, 36, 36, 1);
    height: 100vh;
  }

  nav .app__Navbar-menu .app__Navbar-menu-links-mobile button {
    margin-left: auto;
    width: 15%;
    margin-left: auto;
    transform: translateX(0);
  }
}
